APP_TELEGRAM_TOKEN=
APP_UPDATE_TIMEOUT=60

APP_HTTP_PORT=8090
APP_GRPC_PORT=50051

APP_SCRAPPER_HTTP_URL=http://localhost:8080
APP_SCRAPPER_GRPC_ADDR=localhost:50052

APP_TRANSPORT=http

APP_DATABASE_URL=postgres://app:app@localhost:5432/bot?sslmode=disable
APP_ACCESS_TYPE=sql