APP_HTTP_PORT=8080
APP_GRPC_PORT=50052

APP_BOT_HTTP_URL=http://localhost:8090
APP_BOT_GRPC_ADDR=localhost:50051

APP_GITHUB_TOKEN=
APP_STACKOVERFLOW_KEY=

APP_CHECK_INTERVAL=30s

APP_TRANSPORT=http

APP_DATABASE_URL=postgres://app:app@localhost:5432/scrapper?sslmode=disable
APP_ACCESS_TYPE=sql